aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
compile
nvr-app-*.tar.*
*~
autoconf
src/.deps
autom4te.cache
src/nvr-app
Makefile
.DS_Store
*.o
